{% extends "app/layout.html" %} {% block content %}

<div class="container">
    <div class="contacts">
        <h1>Email: d_prokopenko@inbox.ru</h1>
        <h1>Телефон: +7(918) 090 - 55 - 91, 8 (86137) 2-97-43</h1>
        <h2>Наше местоположение: 352900, Краснодарский край г. Армавир, с/т «Восход», отделение №1, уч.110</h2>
        <div align="center">
            <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=rX1MmwCGs-9P4TFOwZJ4ucvELJ-249mC&width=600&height=450"></script>
        </div>
    </div>
</div>

{% endblock content %}