{% extends "app/layout.html" %} {% block content %}

<div class="container">
    <div class="contacts">
        <h1>Приветствуем Вас на сайте кондитерской фабрике "София"!</h1>
        <div class="text_main">
            <p>Кондитерская фабрика "София" работает с оптовыми покупателями на всей территории Российской Федерации и некоторыми странами ближайшего зарубежья. </p>
            <p>Здесь Вы можете ознакомиться с продукцией, которую с особым трепетом и душевным теплом выпекают наши мастера-кондитеры.</p>
            <p>Кондитерская фабрика «София» работает с оптовыми покупателями на всей территории Российской Федерации и близлежащими странами в частности.</p>
            <p>При производстве кондитерских изделий мы постарались учесть все традиции и улучшить вкус Ваших любимых лакомств. И как результат наших творческих поисков рады представить Вам новинки, с которыми Вы можете ознакомиться в разделе «Продукция».</p>
            <p>Наше предприятие является семейным делом, поэтому приятная атмосфера и теплый прием обеспечен каждому клиенту.</p>
            <p>Спасибо за выбор нашего производства!</p>
            <p>Желаем успехов, процветания и стабильности Вашему бизнесу!</p>
        </div>
    </div>
</div>
{% endblock %}