{% extends "app/layout.html" %} {% block content %}
{% load staticfiles %}
<div class="container">
    <div class="contacts">
        <h1>Реквизиты:</h1>
        <p>Индивидуальный предприниматель Прокопенко Олеся Александровна (ИП Прокопенко О.А.)</p>
        <p>352900, Краснодарский край г. Армавир, с/т «Восход», отделение №1, уч.110</p>
        <p>ИНН 230215535402</p>
        <p>ОГРНИП 315237200003669</p>
        <p>Р/с 40802810930004081613</p>
        <p>К/с 30101810100000000602</p>
        <p>БИК 040349602</p>
        <p>ОТДЕЛЕНИЕ 8619 СБЕРБАНКА РОССИИ Г.КРАСНОДАР</p>
        <a href="{% static 'app/documents/docs2.doc' %}" class="enjoy-css decoration">Образец договора</a>
    </div>
</div>

{% endblock content %}